@import '~antd/dist/antd.css';

#root{
	height: 100%;
}
.cl-content {
	margin: 0;
	background: #fff;
	min-height: auto;
}
.cl-content-bg {
	width: 100%;
	min-height: 100vh;
	padding: 50px;
}
.cl-layout {
	height: 100%;
}
.cl-footer {
	text-align: center;
}
.logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}
.Search-Box {
	display: flex;
	align-items: center;
	min-width: 50%;
}
.ant-menu-horizontal {
	border-bottom: 0;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-item-selected {
	border-bottom: 0;
}
.anticon {
	margin-right: 0;
}
.ant-menu-horizontal > .ant-menu-item-selected {
	border-bottom: 0;
}

.ant-menu-horizontal .ant-menu-item-selected:hover {
	border-bottom: 0;
	background-color: rgba(0, 0, 0, 0.01);
}
.ant-menu-horizontal .ant-menu-item:hover {
	border-bottom: 0;
	background-color: rgba(0, 0, 0, 0.01);
}
/*#0099ff*/
/*#1c5480*/
.contenedor-signin,
.contenedor-signup {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.card-signin {
	background-image: radial-gradient(#09f 1px, transparent 1px), radial-gradient(#09f 1px, transparent 1px);
	background-position: 0 0 25px 25px;
	background-size: 50px 50px;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.card-body-signin {
	background-color: #f1f1f1;
	height: 450px;
	min-width: 450px;
}
.card-image-signin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.image-signin {
	border-radius: 100px;
	height: 120px;
	width: 120px;
	margin-top: 15px;
}
.card-btn-signin {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
h3 {
	margin: 20px 0px;
	font-size: 27px;
}
.form-sign {
	margin: auto;
	width: 80%;
}

.ant-layout-header {
    line-height: 0px;
}

@media screen and (max-width: 400px) {
	.input {
		width: 250px;
	}

	.card-body-signin {
		width: 380px;
	}
	.form-sign {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
