.searchInputStyle {
  width: 100%;
  border-radius: 0.6em;
  height: 45px;
  -webkit-box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.75);
}
